{% extends 'base.html.twig' %}

{% block body %}

<h1>Shortened Urls</h1>
<table class="table table-bordered border-danger">
<thead>
<tr>
<th>Short URL</th>
<th>Url</th>
<th>Analytics</th>
</thead>
<tbody>
{% for shortened_url in shortened_urls %}
<tr>
<td>
	<a href="{{short_url_base}}/{{ shortened_url.getShortCode }}" target="_blank">
		{{short_url_base}}/{{ shortened_url.getShortCode }}
	</a>
</td>
<td>
	<a href="{{ shortened_url.url }}?utm_source=shortened_urls" target="_blank">
		{{ shortened_url.url }}
	</a>
</td>
<td>
	<a href="{{ path('short_url_detail', {'id':shortened_url.id}) }}">
		Analytics
	</a>
</td>
</tr>
{% endfor %}
</tbody>
</table>


{% endblock %}
