{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}

<h1>Shortned URL Analytics</h1>

<table border="1">
<thead>
<tr>
<th>Shortened URL</th>
<th>Actual URL</th>
</thead>
<tbody>
<tr>
<td>
	<a href="{{short_url_base}}/{{ shortened_url.getShortCode }}" target="_blank">
		{{short_url_base}}/{{ shortened_url.getShortCode }}
	</a>
</td>
<td>
	<a href="{{ shortened_url.url }}?utm_source=shortened_urls" target="_blank">
		{{ shortened_url.url }}
	</a>
</td>
</tr>
</tbody>
</table>
<hr>
<h2>Analytics</h2>
<p>Analytics and reports will appear here</p>

{% endblock %}
